In [1]:
import sqlite3 as sq
conn = sq.connect("nominations.db")

In [2]:
q1 = "pragma table_info(nominations)"
schema = conn.execute(q1).fetchall()
for i in schema:
    print(i)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)

In [3]:
q2 = "SELECT * FROM nominations LIMIT 10"
first_ten = conn.execute(q2).fetchall()
for i in first_ten:
    print(i)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [4]:
q5 = "select * from ceremonies"
tx = conn.execute(q5).fetchall()
print(tx)

[]

In [7]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]
#q3 = "CREATE TABLE ceremonies(id integer PRIMARY KEY,YEAR integer,Host integer)"
#conn.execute(q3)
insert_query = "INSERT INTO ceremonies (Year,Host) VALUES (?,?)"
table =  conn.executemany(insert_query,years_hosts).fetchall()

q5 = "select * from ceremonies limit 10"
t1 = conn.execute(q5).fetchall()
print(table,t1)

[] [(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin')]

In [9]:
q7 = "pragma table_info(ceremonies)"
t2 = conn.execute(q7).fetchall()
print(t2)

[(0, 'id', 'integer', 0, None, 1), (1, 'Year', 'integer', 0, None, 0), (2, 'Host', 'text', 0, None, 0)]

In [10]:
conn.execute("PRAGMA foreign_keys = ON;")

In [ ]:
cr = """
CREATE TABLE nominations_two(
id integer primary key,

"""