In [20]:
import sqlite3 as sq
conn = sq.connect("nominations.db")

In [21]:
q1 = "pragma table_info(nominations)"
schema = conn.execute(q1).fetchall()
for i in schema:
    print(i)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)

In [22]:
q2 = "SELECT * FROM nominations LIMIT 10"
first_ten = conn.execute(q2).fetchall()
for i in first_ten:
    print(i)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [23]:
q5 = "select * from ceremonies"
tx = conn.execute(q5).fetchall()
print(tx)

[(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin'), (11, 2000, 'Billy Crystal'), (12, 2010, 'Steve Martin'), (13, 2009, 'Hugh Jackman'), (14, 2008, 'Jon Stewart'), (15, 2007, 'Ellen DeGeneres'), (16, 2006, 'Jon Stewart'), (17, 2005, 'Chris Rock'), (18, 2004, 'Billy Crystal'), (19, 2003, 'Steve Martin'), (20, 2002, 'Whoopi Goldberg'), (21, 2001, 'Steve Martin'), (22, 2000, 'Billy Crystal'), (23, 2010, 'Steve Martin'), (24, 2009, 'Hugh Jackman'), (25, 2008, 'Jon Stewart'), (26, 2007, 'Ellen DeGeneres'), (27, 2006, 'Jon Stewart'), (28, 2005, 'Chris Rock'), (29, 2004, 'Billy Crystal'), (30, 2003, 'Steve Martin'), (31, 2002, 'Whoopi Goldberg'), (32, 2001, 'Steve Martin'), (33, 2000, 'Billy Crystal')]

In [24]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]
#q3 = "CREATE TABLE ceremonies(id integer PRIMARY KEY,YEAR integer,Host integer)"
#conn.execute(q3)
insert_query = "INSERT INTO ceremonies (Year,Host) VALUES (?,?)"
table =  conn.executemany(insert_query,years_hosts).fetchall()

q5 = "select * from ceremonies limit 10"
t1 = conn.execute(q5).fetchall()
print(table,t1)

[] [(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin')]

In [25]:
q7 = "pragma table_info(ceremonies)"
t2 = conn.execute(q7).fetchall()
print(t2)

[(0, 'id', 'integer', 0, None, 1), (1, 'Year', 'integer', 0, None, 0), (2, 'Host', 'text', 0, None, 0)]

In [26]:
conn.execute("PRAGMA foreign_keys = ON;")

In [27]:
cr = """
CREATE TABLE nominations_two(
id integer primary key,
category text,
nominee text,
movie text, 
character text, 
won integer,
ceremony_id integer,
foreign key(ceremony_id) references ceremonies(id));
"""

In [28]:
mon_q = """
SELECT nominations.category as category,
nominations.nominee as nominee,
nominations.movie, 
nominations.character as character,
nominations.won as won,
ceremonies.id as id
FROM nominations
INNER JOIN ceremonies ON
nominations.year == ceremonies.year
;
"""
joined_nominations = conn.execute(mon_q).fetchall()

In [29]:
conn.execute(cr)
insert_nominations_two = """
insert into nominations_two(ceremony_id, category, nominee, movie, character, won)
value (?,?,?,?,?,?)
"""
conn.executemany(insert_nominations_two,joined_nominations)

OperationalError: table nominations_two already exists

In [30]:
drop = "drop table nominations;"
conn.execute(drop)

In [31]:
rename = "alter table nominations_two rename to nominations"
conn.execute(rename)

In [ ]:
cm = "create table movies(id integer primary key,)"